<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      {{ i18n('pageTitle')}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <yaga-map style="height: 100%" [lat]="50.726151" [lng]="7.08971" [zoom]="13">
    <yaga-tile-layer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></yaga-tile-layer>
    <yaga-layers-control>
      <yaga-feature-group yaga-overlay-layer [caption]="((getFeatureCollection('Pubs-Bonn.geojson') | async)||{'name':''}).name">
        <yaga-marker *ngFor="let feature of ((getFeatureCollection('Pubs-Bonn.geojson') | async) || {'features': []}).features"
                     [lat]="feature.geometry.coordinates[0][1]"
                     [lng]="feature.geometry.coordinates[0][0]"

        >
          <yaga-popup>
            <div style="width: 200px">
              <h5 style="text-align: center"><b>{{feature.properties.name}}</b></h5>
              <p style="text-align: center">
                <img src={{feature.properties.picture}}> </p>



              <p *ngIf="feature.properties['addr:housenumber'] || feature.properties['addr:city'] || feature.properties['addr:street']">
                <b>{{ i18n('address')}}: </b><br/>
                <span *ngIf="feature.properties['addr:street']|| feature.properties['addr:housenumber']">
                  <ion-icon name="home"></ion-icon> {{feature.properties['addr:street']}} {{feature.properties['addr:housenumber']}}
                  <br/></span>
                <span *ngIf="feature.properties['addr:postcode'] || feature.properties['addr:city']">
                  <ion-icon name="home" style="color: white"></ion-icon> {{feature.properties['addr:postcode']}} Bonn
                <br/></span>
              </p>
              <p *ngIf="feature.properties['contact:phone'] || feature.properties['website']">
                <b>{{ i18n('contact')}}: </b><br/>
              <span *ngIf="feature.properties['contact:phone']">
                <ion-icon name="call"></ion-icon> <a href="tel:{{feature.properties['contact:phone']}}">{{ i18n('phone')}}</a>
              <br/></span>
              <span *ngIf="feature.properties['website']">
                <ion-icon name="link"></ion-icon> <a href="{{feature.properties['website']}}" target="_blank">{{ i18n('website')}}</a>
              <br/></span>
              </p>
              <p *ngIf="feature.properties['opening_hours']">
                <b>{{ i18n('openinghours')}}: </b><br/>
                <ion-icon name="time"></ion-icon> {{feature.properties['opening_hours']}} <br/>
              </p>
            </div>
          </yaga-popup>
        </yaga-marker>
      </yaga-feature-group>

      <yaga-polyline *ngFor="let feature of ((getFeatureCollection('route1.geojson') | async) || {'features': []}).features" [geoJSON]="feature" color="#1845f5" dashArray="14,5" [opacity]="0.7"
                     yaga-overlay-layer [caption]="feature.properties[configurationService.language + '_title']">
        <yaga-popup [opened]="false">
          <div class="limit-width">
          <h4 style="text-align: center">{{ feature.properties[configurationService.language + '_title'] }}</h4><br/>
            <img src="https://www.pandotrip.com/wp-content/uploads/2014/10/Cherry-Blossom-Avenue-Bonn-4.jpg">
          <p>{{ feature.properties[configurationService.language + '_description'] }}</p>
          </div>
        </yaga-popup>
      </yaga-polyline>

      <yaga-polyline *ngFor="let feature of ((getFeatureCollection('tracks_Rhine.geojson') | async) || {'features': []}).features" [geoJSON]="feature" color="#1845f5" dashArray="14,5" [opacity]="0.7"
                     yaga-overlay-layer [caption]="feature.properties[configurationService.language + '_title']">
        <yaga-popup [opened]="false">
          <div class="limit-width">
          <h4 style="text-align: center">{{ feature.properties[configurationService.language + '_title'] }}</h4><br/>
            <img src="https://media2.trover.com/T/59120b49092f571b1100b7e8/fixedw_large_4x.jpg">
          <p>{{ feature.properties[configurationService.language + '_description'] }}</p>
        </div>
        </yaga-popup>
      </yaga-polyline>

      <yaga-polyline *ngFor="let feature of ((getFeatureCollection('tracks3.geojson') | async) || {'features': []}).features" [geoJSON]="feature" color="#d40d2b" dashArray="14,5" [opacity]="0.7"
                     yaga-overlay-layer [caption]="feature.properties[configurationService.language + '_title']">
        <yaga-popup [opened]="false">
          <div class="limit-width">
            <h4 style="text-align: center">{{ feature.properties[configurationService.language + '_title'] }}</h4><br/>
            <img src="https://www.bonn.de/bonn-erleben/aktiv-und-unterwegs/alter-zoll.php.media/64750/Biergarten_Alter_Zoll.jpg.scaled/5360131c1f4332c750ca77ebf136a279.jpg">
            <p>{{ feature.properties[configurationService.language + '_description'] }}</p>
          </div>
        </yaga-popup>
      </yaga-polyline>

    </yaga-layers-control>
  </yaga-map>
</ion-content>
