<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input [(ngModel)]="data.language">
  <yaga-map style="height: 90%" [lat]="51" [lng]="7" [zoom]="10">
    <yaga-tile-layer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></yaga-tile-layer>

    <yaga-layers-control>
    <yaga-polyline *ngFor="let feature of ((getFeatureCollection('line.geojson') | async) || {'features': []}).features" [geoJSON]="feature" color="#1845f5" yaga-overlay-layer [caption]="feature.properties.name">
      <yaga-popup [opened]="false">
        <h4>{{ feature.properties.name }}</h4><br/>
        <p>{{ feature.properties[data.language + '_description'] }}</p>


      </yaga-popup>
    </yaga-polyline>

      <yaga-polyline *ngFor="let feature of ((getFeatureCollection('route1.geojson') | async) || {'features': []}).features" [geoJSON]="feature" color="#1845f5" yaga-overlay-layer [caption]="feature.properties.name">
        <yaga-popup [opened]="false">
          {{ feature.properties.name }}
          <p>{{ feature.properties.description }}</p>

        </yaga-popup>
      </yaga-polyline>
    </yaga-layers-control>
  </yaga-map>
</ion-content>
