<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ i18n('pageTitle')}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <yaga-map style="height: 100%" [lat]="50.736151" [lng]="7.08871" [zoom]="13.5">
    <yaga-tile-layer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></yaga-tile-layer>
    <yaga-layers-control>
      <yaga-feature-group yaga-overlay-layer [caption]="((getFeatureCollection('Pubs-Bonn.geojson') | async)||{'name':''}).name">
        <yaga-marker *ngFor="let feature of ((getFeatureCollection('Pubs-Bonn.geojson') | async) || {'features': []}).features"
                     [lat]="feature.geometry.coordinates[0][1]"
                     [lng]="feature.geometry.coordinates[0][0]"

        >
          <yaga-popup>
            <div style="width: 200px">
              <h5 style="text-align: center"><b>{{feature.properties.name}}</b></h5>
              <p style="text-align: center">
                <img src={{feature.properties.picture}}> </p>

              <p *ngIf="feature.properties['addr:housenumber'] || feature.properties['addr:city'] || feature.properties['addr:street']">
                <b>Anschrift: </b><br/>
                <span *ngIf="feature.properties['addr:street']|| feature.properties['addr:housenumber']">
                  <ion-icon name="home"></ion-icon> {{feature.properties['addr:street']}} {{feature.properties['addr:housenumber']}}
                  <br/></span>
                <span *ngIf="feature.properties['addr:postcode'] || feature.properties['addr:city']">
                  <ion-icon name="home" style="color: white"></ion-icon> {{feature.properties['addr:postcode']}} Bonn
                <br/></span>
              </p>
              <p *ngIf="feature.properties['contact:phone'] || feature.properties['website']">
                <b>Kontakt: </b><br/>
              <span *ngIf="feature.properties['contact:phone']">
                <ion-icon name="call"></ion-icon> <a href="tel:{{feature.properties['contact:phone']}}">Telefon</a>
              <br/></span>
              <span *ngIf="feature.properties['website']">
                <ion-icon name="link"></ion-icon> <a href="{{feature.properties['website']}}" target="_blank">Website</a>
              <br/></span>
              </p>
              <p *ngIf="feature.properties['opening_hours']">
                <b>Öfnnungszeiten: </b><br/>
                <ion-icon name="time"></ion-icon> {{feature.properties['opening_hours']}} <br/>
              </p>
            </div>
          </yaga-popup>
        </yaga-marker>
      </yaga-feature-group>

    </yaga-layers-control>
  </yaga-map>
</ion-content>
