<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      {{ i18n('pageTitle')}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header></ion-list-header>

    <ion-item>
      <ion-label>{{ i18n('pageLang')}}</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="configurationService.language">
        <ion-select-option value="de">{{ i18n('pageDe')}}</ion-select-option>
        <ion-select-option value="en">{{ i18n('pageEng')}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{ i18n('pageBC')}}</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>










</ion-content>
